body {
    background-color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
}

/* Navbar */

#nav1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 56px;
    font-weight: bold;
    color: #000000;
}

#nav2 {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    color: #7d7d7d;
    letter-spacing: 2.5px;
}

/* Gallery */

.card {
    margin: 10px;
    margin-bottom: 30px;
}

.hr {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.card-text {
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

/* slideshow */

.slideImage {
    height: 700px;
    position: absolute;
    left: 100px;
}

#Slidetitle {
    position: absolute;
    z-index: 2;
    background-color: #FFFFFF;
    height: 250px;
    left: 620px;
    width: 250px;
    padding-left: 50px;
}

#Slidetitle>h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
}

#Slidetitle>p {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #7d7d7d;
    margin-top: 20px;
}

#artist-image1 {
    position: absolute;
    left: 720px;
    top: 800px;
}

#display {
    font-size: 200px;
    line-height: 150px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #f3f3f3;
    position: absolute;
    right: 150px;
}

#description {
    position: absolute;
    right: 220px;
    top: 300px;
    z-index: 2;
    width: 400px;
    height: 600px;
    font: bold;
    font-family: 'Libre Baskerville', serif;
    color: #7d7d7d;
    font-size: 18px;
    line-height: 28px;
}

#link1 {
    color: #7d7d7d;
}

/* slideshow */

.box1 {
    background-color: #FFFFFF;
    height: 800px;
    margin-left: 10px;
    position: relative;
}

.box2 {
    background-color: green;
    height: 700px;
    margin-right: 10px;
}

div.box3 {
    background-color: #000000;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    width: 200px;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    bottom: 120px;
    left: 20px;
}

.box3>i {
    margin-left: 10px;
    margin-top: 10px;
}

#starry img {
    position: absolute;
    height: 700px;
}

div .box4 {
    position: absolute;
    right: 160px;
    bottom: 50px;
}

div .box5 {
    position: absolute;
    right: 160px;
    height: 300px;
    width: 250px;
    background-color: #FFFFFF;
}

.box5 h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    margin-left: 80px;
}

.box5 p {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #7d7d7d;
    margin-top: 20px;
    margin-left: 80px;
}

.hr2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.box6 {
    height: 90px;
    margin-left: 10px;
}

.box7 {
    height: 90px;
    margin-right: 10px;
}

#footer-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

#footer-para {
    font-family: 'Libre Baskerville', serif;
    color: #e5e5e5;
}

div #backbutton {
    position: absolute;
    right: 80px;
}

div #forwardbutton {
    position: absolute;
    right: 25px;
}

/* Media Query for sladeshow */

@media only screen and (max-width: 900px) {
    div .box5 {
        position: absolute;
        right: 160px;
        height: 300px;
        width: 300px;
        background-color: #FFFFFF;
    }
}

@media only screen and (max-width: 900px) {
    .box5 h1 {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .box5 p {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 900px) {
    div .box4 {
        position: absolute;
        right: 40px;
        bottom: 370px;
    }
}

@media only screen and (max-width: 480px) {
    #starry img {
        position: absolute;
        width: 350px;
        height: 500px;
    }
}

@media only screen and (max-width: 480px) {
    div .box5 {
        position: absolute;
        top: 450px;
        height: 100px;
        width: 300px;
        background-color: #FFFFFF;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .box5 h1 {
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }
}

@media only screen and (max-width: 480px) {
    .box5 p {
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        color: #7d7d7d;
        margin-top: 20px;
    }
}