body {
    background-color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
}

/* Navbar */

#nav1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 56px;
    font-weight: bold;
    color: #000000;
}

#nav2 {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    color: #7d7d7d;
    letter-spacing: 2.5px;
}

/* Gallery */

.card {
    margin: 10px;
    margin-bottom: 30px;
}

.hr {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.card-text {
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

/* slideshow */

.slideImage {
    height: 700px;
    position: absolute;
    left: 25px;
}

#Slidetitle {
    position: absolute;
    z-index: 2;
    background-color: #FFFFFF;
    height: 250px;
    left: 550px;
    width: 250px;
    padding-left: 50px;
    text-align: justify;
}

#Slidetitle>h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
}

#Slidetitle>p {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #7d7d7d;
    margin-top: 20px;
}

#artist-image1 {
    position: absolute;
    left: 650px;
    top: 800px;
}

#display {
    font-size: 200px;
    line-height: 150px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #f3f3f3;
}